.title-hadi{
    font-size: 30px;
}

.mydob{
    font-size: 100px;
    color: violet;

    &:hover{
        color: brown;
        
    }
}

.myphoto{
    width: 300px;
    border-radius: 100%;
    height: 300px;
    object-fit: cover;
}